@model bike_web.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}


<div id="app">

    <!-- banner -->
    <div class="banner container-fluid px-0">
        <div class="bannerContainer px-4" id="animate-area">
            <div class="bannerText">
                <h5 class="bannerTitle">Let's Go Bike!</h5>
                <p class="bannerMsg">在忙碌的生活中，有多久沒有停下腳步、靜下心來，好好體驗生活了呢?來享受一段高雄單車之旅吧!</p>
                <!-- search area -->
                <form action="/Home/Index" method="post" class="input-group my-3" id="searchForm" >
                    <input name="txtKeyword" id="txtKeyword" class="form-control" placeholder="請輸入關鍵字" type="text" value="" />
                    <input type="submit" class="btn btn-primary goBack" value="搜尋" />
                </form>

                <div class="d-flex justify-content-between">
                    <a href="@Url.Action("初級List", "offRoute")" class="btn btn-outline-secondary">初級路線</a>
                    <a href="@Url.Action("中級List", "offRoute")" class="btn btn-outline-secondary">中級路線</a>
                    <a href="@Url.Action("高級List", "offRoute")" class="btn btn-outline-secondary">高級路線</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 天氣區塊 -->
    <div class="container-fluid py-3">
        <div id="weather_tool"></div>
    </div>



    <!-- 熱門路線 -->
    <div class="container-fluid bg-lighter py-5">
        <div class="container hotspot">
            <span class="badge bg-darkBrown px-3 bold">熱門景點</span>
            <h1 class="ps-3 border-start border-4 border-primary fw-bold my-4 mb-3">高雄夯單車路線</h1>
            <div class="row">

                @foreach (var item in Model.offcialPopularRoute)
                {
                    int count = 0; bool btn = true;
                    <li class="col-12 col-md-4">
                        <div class="card mb-3">
                            <div class="position-absolute" style="top: 20px; right: 20px">
                                @*//mia:我的最愛*@
                                @if (Session["id"] != null)
                                {
                                    if (@Model.checkFav.Count > 0)
                                    {
                                        <form method="post">
                                            @foreach (var fav in @Model.checkFav)
                                            {
                                                count++;
                                                if (fav.official_route_id == item.h_ID)
                                                {
                                                    btn = false;
                                                    <button type="button" value="@item.h_ID" class="btnFav2 rounded-pill btn btn-danger ">
                                                        <i class="iFav2 bi fs-5 bi-heart" value="@item.h_ID" @*value="@Model.p_ID"*@></i>
                                                    </button>
                                                    //count++;
                                                }
                                                else if (btn)
                                                {
                                                    if (count < @Model.checkFav.Count()) { continue; }
                                                    <button type="button" class="btnFav2 btn rounded-pill btn-outline-danger " value="@item.h_ID">
                                                        <i class="iFav2 bi fs-5 bi-heart" value="@item.h_ID"></i>
                                                    </button>}
                                            }
                                        </form> }
                                    else
                                    { <form method="post">
                                            <button type="button" class="btnFav2 btn rounded-pill btn-outline-danger " value="@item.h_ID">
                                                <i class="iFav2 bi fs-5 bi-heart" value="@item.h_ID"></i>
                                            </button>
                                        </form> }
                                }
                                else
                                {
                                    <button v-on:click="greet" type="button" class="btnLoginYet btn rounded-pill btn-outline-danger " value="">
                                        <i class="bi fs-5 bi-heart"></i>
                                    </button>}
                                @*//END---我的最愛*@
                            </div>
                            <span>
                                <a href="@Url.Action("List", "OnlyOffRoute", new { id = item.h_ID })"><img src="~/images/home/@item.h_img" class="card-img-top" alt="@item.h_name" /></a>
                            </span>
                            <div class="card-body">
                                <h5 class="card-title fw-bold text-center font-32 my-3 border-bottom border-1 border-primary pb-3">@item.h_name</h5>
                                <div class="d-flex justify-content-between pb-2 mb-2 flex-lg-row flex-md-column">
                                    <div class="badge bg-light font-20 text-darkBrown px-3">長度:@item.h_distance km</div>
                                    <div class="badge bg-darkBrown font-20 px-3">難度:<span class="text-primary font-20">@item.h_rank</span></div>
                                </div>
                                <p class="card-text">@item.h_description</p>
                                <div class="d-flex justify-content-end">
                                    @*<div><i class="bi bi-eye fs-4"></i><span class="ms-2">0</span></div>*@

                                    <div class="text-primary"><i class="bi bi-star-fill fs-4"></i><span class="ms-2">@item.oc_allStar</span></div>
                                </div>
                            </div>
                        </div>
                    </li>
                }



            </div>
        </div>
    </div>

    <!-- middle navbar -->
    <div class="container-fluid border-bottom border-1 border-gray-300">
        <div class="container">
            <ul class="nav nav-tabs justify-content-between justify-content-lg-start" id="nav-tab" role="tablist">
                <li class="nav-item">
                    <button onclick="goToTab()"
                            class="nav-link active py-3"
                            id="nav-intro-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#nav-intro"
                            type="button"
                            role="tab"
                            aria-controls="nav-intro"
                            aria-selected="true">
                        鐵馬景點
                    </button>
                </li>
                <li class="nav-item">
                    <button onclick="goToTab()" class="nav-link py-3" id="nav-faq-tab" data-bs-toggle="tab" data-bs-target="#nav-faq" type="button" role="tab" aria-controls="nav-faq" aria-selected="false">
                        常見問題
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <!-- main content -->
    <div class="container py-5" id="hotroute">
        <div class="row">
            <div class="col-lg-9">
                <div class="tab-content" id="myTabContent">
                    <!-- 官方景點介紹 -->
                    <div class="tab-pane fade show active" id="nav-intro" role="tabpanel" aria-labelledby="nav-intro-tab">
                        <h3 class="font-24 ps-3 border-start border-4 border-primary fw-bold my-4">鐵馬推薦路線</h3>
                        <div class="row"> 
                            @foreach (var item in Model.offcialAllRoute)
                            {
                                int count = 0; bool btn = true;
                                <div class="col-12 col-md-6">
                                    <div class="card mb-3">
                                        <div class="card-box">
                                            <div class="position-absolute" style="top: 20px; right: 20px">
                                                @*//mia:我的最愛*@
                                                @if (Session["id"] != null)
                                                {
                                                    if (@Model.checkFav.Count > 0)
                                                    {
                                                        <form method="post">
                                                            @foreach (var fav in @Model.checkFav)
                                                            {
                                                                count++;
                                                                if (fav.official_route_id == item.h_ID)
                                                                {
                                                                    btn = false;
                                                                    <button type="button" value="@item.h_ID" class="btnFav2 rounded-pill btn btn-danger ">
                                                                        <i class="iFav2 bi fs-5 bi-heart" value="@item.h_ID" @*value="@Model.p_ID"*@></i>
                                                                    </button>
                                                                    //count++;
                                                                }
                                                                else if (btn)
                                                                {
                                                                    if (count < @Model.checkFav.Count()) { continue; }
                                                                    <button type="button" class="btnFav2 btn rounded-pill btn-outline-danger " value="@item.h_ID">
                                                                        <i class="iFav2 bi fs-5 bi-heart" value="@item.h_ID"></i>
                                                                    </button>}
                                                            }
                                                        </form> }
                                                    else
                                                    { <form method="post">
                                                            <button type="button" class="btnFav2 btn rounded-pill btn-outline-danger " value="@item.h_ID">
                                                                <i class="iFav2 bi fs-5 bi-heart" value="@item.h_ID"></i>
                                                            </button>
                                                        </form> }
                                                }
                                                else
                                                {
                                                    <button v-on:click="greet" type="button" class="btnLoginYet btn rounded-pill btn-outline-danger " value="">
                                                        <i class="bi fs-5 bi-heart"></i>
                                                    </button>}
                                                @*//END---我的最愛*@
                                            </div>
                                            <span>
                                                <a href="@Url.Action("List", "OnlyOffRoute", new { id = item.h_ID })"> <img src="~/images/home/@item.h_img" class="card-img-top" alt="@item.h_name" /> </a>
                                            </span>
                                            <div class="card-body">
                                                <h5 class="card-title fw-bold text-center font-32 my-3 border-bottom border-1 border-primary pb-3">@item.h_name</h5>
                                                <div class="d-flex justify-content-between pb-2 mb-2 flex-lg-row flex-md-column">
                                                    <div class="badge bg-light font-20 text-darkBrown px-3">長度:@item.h_distance km</div>
                                                    <div class="badge bg-darkBrown font-20 px-3">難度:<span class="text-primary font-20">@item.h_rank</span></div>
                                                </div>
                                                <p class="card-text">@item.h_description</p>
                                                <div class="d-flex justify-content-end">
                                                    @*<div><i class="bi bi-eye fs-4"></i><span class="ms-2">0</span></div>*@
                                                    <div class="text-primary"><i class="bi bi-star-fill fs-4"></i><span class="ms-2">@item.oc_allStar</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                            }
                        </div>
                    </div>
                    <!-- 常見問答 -->
                    <div class="tab-pane fade show" id="nav-faq" role="tabpanel" aria-labelledby="nav-faq-tab">
                        <!-- Q1 -->
                        <div class="accordion mb-3" id="faq1">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span>Q1</span>
                                        <span>
                                            加入會員後,你可以享有......
                                        </span>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faq1">
                                    <div class="accordion-body">
                                        (1)和其他的車友分享交流:針對各路線進行留言評分與收藏我的最愛<br />
                                        (2)紀錄旅程中的心動時刻:私人單車路線遊記<br />
                                        (3)完善的旅遊行程一條龍服務:購買單車旅遊套裝行程<br />
                                        (4)揪團騎車:使用揪團騎鐵馬聊天室
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Q2 -->
                        <div class="accordion mb-3" id="faq2">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        <span>Q2</span>
                                        <span>我是單車新手,不知道怎麼選擇路線怎麼辦？</span>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#faq2">
                                    <div class="accordion-body">可以參考系統分級:初級(約10公里以內)中級(約10-20公里)與高級(約大於20公里),評估個人能力需求後進行選擇喔!</div>
                                </div>
                            </div>
                        </div>
                        <!-- Q3 -->
                        <div class="accordion mb-3" id="faq3">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                        <span>Q3</span>
                                        <span>找不到騎車好夥伴嗎?別擔心,關於聊天室使用</span>
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#faq3">
                                    <div class="accordion-body">
                                        會員專屬線上揪團騎鐵馬聊天室,請先看清楚版規後再進行留言喔!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Q4 -->
                        <div class="accordion mb-3" id="faq4">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                        <span>Q4</span>
                                        <span> 如何推薦私人單車路線呢？</span>
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour" data-bs-parent="#faq4">
                                    <div class="accordion-body">
                                        請先註冊加入會員,即可以開通薦私人路線功能喔!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 右側欄 -->
            <div class="col-lg-3">
                <!-- 私人路線推薦 -->
                <div class="mb-3">
                    <h5 class="text-center bg-light rounded-1 border-start border-end border-4 border-primary py-2 fw-bold tracking-3">私人路線推薦</h5>
                </div>
                <!-- 右cards -->
                <ul class="list-unstyled">
                    @foreach (var item in Model.privatePopularArticle)
                    {
                        <li>
                            <div class="card mb-3">
                                <img src="@Url.Content(item.p_artitle_img_info)" class="card-img-top" alt="@item.p_artitle_title" />
                                <div class="card-body">
                                    <div class="d-flex justify-content-end border-bottom border-1 border-gray-200 pb-2 mb-2">
                                        <span>@item.p_datetime</span>
                                    </div>
                                    <h5 class="card-title fw-bold font-24">@item.p_artitle_title</h5>
                                    <div class="d-flex justify-content-end py-2">
                                        <div class="badge bg-light text-darkBrown px-3">紀錄者:@item.u_username</div>
                                    </div>
                                    <div class="d-flex justify-content-between py-2">
                                        <div><i class="bi bi-eye fs-4"></i><span class="ms-2">@item.p_seen_num</span></div>
                                        <div class="text-primary"><i class="bi bi-star-fill fs-4"></i><span class="ms-2">@item.p_star_num</span></div>
                                    </div>
                                    @if (Session["id"] != null)
                                    {
                                        <a href="@Url.Action("privateRoutePage", "PrivateRoute")?articletitleid=@item.p_userID" class="btn btn-primary w-100 fw-bold">看更多</a>
                                    }
                                    else
                                    {
                                        <a href="#" @@click="loginFirst" class="btn btn-primary w-100 fw-bold">看更多</a>
                                    }
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                <div class="mb-3">
                    <h5 class="text-center bg-light rounded-1 border-start border-end border-4 border-primary py-2 fw-bold tracking-3">最熱門關鍵字排行</h5>
                </div>
                <ul class="list-unstyled">

                    <li>
                        <div class="card mb-3">
                            <div class="btn-group-vertical">
                                @{int ranking = 0; }
                                @foreach (var item in Model.hashtagNamandSum)
                                {
                                    if (Session["id"] != null)
                                    {
                                        ranking++;
                                        if (ranking % 2 == 1)
                                        {

                                            <button type="button" onclick="window.location.href = '@Url.Action("privateRoute","privateRoute", new { hashtag = item.Name})'" class="btn btn-lg  btn-primary">
                                                # @item.Name @item.Number 件
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="button" onclick="window.location.href = '@Url.Action("privateRoute","privateRoute", new { hashtag = item.Name})'" class="btn btn-lg  btn-light">
                                                # @item.Name @item.Number 件
                                            </button>
                                        }

                                    }
                                    else
                                    {
                                        ranking++;
                                        if (ranking % 2 == 1)
                                        {

                                            <button type="button" @@click="loginFirst" class="btn btn-lg  btn-primary">
                                                # @item.Name @item.Number 件
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="button" @@click="loginFirst" class="btn btn-lg  btn-light">
                                                # @item.Name @item.Number 件
                                            </button>
                                        }

                                    }

                                }
                                @*<button type="button" class="btn btn-lg  btn-primary">#西子灣 2336件</button>
        <button type="button" class="btn btn-lg  btn-light">#約會勝地 1456件</button>
        <button type="button" class="btn btn-lg  btn-primary">#旗津一日遊 742件</button>
        <button type="button" class="btn btn-lg  btn-light">#海產 650件</button>
        <button type="button" class="btn btn-lg  btn-primary">#貓 230件</button>
        <button type="button" class="btn btn-lg  btn-light">#高雄 222件</button>
        <button type="button" class="btn btn-lg  btn-primary">#文藝 185件</button>
        <button type="button" class="btn btn-lg  btn-light">#美食 165件</button>
        <button type="button" class="btn btn-lg  btn-primary">#海鮮 138件</button>
        <button type="button" class="btn btn-lg  btn-light">#旗津 102件</button>
        <button type="button" class="btn btn-primary fw-bold ">看更多</button>*@
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- end of右側欄 -->
        </div>
    </div>

    <!-- 回到最頂btn -->
    <button class="goTop" @@click="backToTop">
        <i class="fas fa-arrow-up"></i>
    </button>
</div>

<script src="~/Scripts/js/homePage.js"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="https://unpkg.com/vue@next"></script>
<script type="module">
    const app = Vue.createApp({
        data() {
            return { isVisible: false };
        },
        methods: {
            loginFirst() {
                swal.fire({
                    position: 'center',
                    text: "請先登入會員!",
                    icon: "info",
                    timer: 2000,
                    width: 300,
                    showConfirmButton: false,
                })
            },
            animateBanner() {
                let siteAnimate = ScrollReveal({
                    reset: false,
                    origin: 'right',
                    distance: '500px',
                    easing: 'ease-in-out',
                });
                ScrollReveal().reveal('.bannerText', { duration: 2000, origin: 'bottom', delay: 50 });
                ScrollReveal().reveal('.hotspot', { duration: 2000, origin: 'left', delay: 50 });
            },
            scrollReveal() {
                window.sr = ScrollReveal();
                sr.reveal(
                    '.card-box',
                    {
                        duration: 600,
                        distance: '20px',
                        easing: 'ease-out',
                        origin: 'bottom',
                        reset: true,
                        scale: 1,
                        viewFactor: 0,
                        afterReveal: revealChildren,
                    },
                    150
                );

                var revealChildren = sr.reveal(
                    '.card-title, .card-text',
                    {
                        duration: 500,
                        scale: 1,
                        distance: '20px',
                        origin: 'bottom',
                        reset: true,
                        easing: 'ease-out',
                        viewFactor: 1,
                    },
                    75
                );
            },
            handleScroll() {
                const backToTopButton = document.querySelector('.goTop');
                if (window.scrollY > 1000) {
                    backToTopButton.classList.add('isVisible');
                    this.isVisible = true;
                } else {
                    backToTopButton.classList.remove('isVisible');
                    this.isVisible = false;
                }
            },
            backToTop: function () {
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth',
                });
            },
            @*addSearch() {
                console.log(addSearch);
                this.updateScrollNextTick();
            },*@
            @*updateScrollNextTick() {
                this.$nextTick(() => {
                    let elmnt = document.getElementById("hotroute");
                    elmnt.scrollIntoView({ behavior: "smooth" });
                })
            },*@
            onSubmit() {
                @*console.log("Submitted");*@
                this.$nextTick(() => {
                    let elmnt = document.getElementById("hotroute");
                    elmnt.scrollIntoView({ behavior: "smooth" });
                })
            },
        },
        mounted() {
            this.animateBanner();
            this.scrollReveal();
            @*this.updateScrollNextTick();*@
            this.onSubmit();
            window.addEventListener('scroll', this.handleScroll);

        },
    });
    app.mount('#app');
</script>





<script src="~/Scripts/js/myFavorite.js"></script>