
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>高雄鐵馬行</title>
    <!--!fontawsome-->
    <script src="https://kit.fontawesome.com/eb2b622fe6.js" crossorigin="anonymous"></script>
    <!--bs5 icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    @Styles.Render("~/Content/css/all.css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<body>
    <!-- header navbar -->
    <header class="bg-white border-bottom border-primary border-4 fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand py-3" href="/">
                    <img src="~/images/logo.png" alt="logo" width="100" />
                </a>
                <button class="navbar-toggler" id="nav-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item px-lg-4 px-0">
                            <a class="nav-link" href="/Home/officialRoute">鐵馬路線</a>
                        </li>

                        <li class="nav-item px-lg-4 px-0">
                            <a class="nav-link" href="/Home/privateRoute">私人推薦</a>
                        </li>
                        <li class="nav-item px-lg-4 px-0">
                            <a class="nav-link" href="/shopIndex/shopIndex">套裝行程</a>
                        </li>
                        @if (Session["id"] != null)
                        {
                            <li class="nav-item dropdown px-lg-4 px-0">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 會員中心 </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a href="/Member/MemberPage" class="dropdown-item">我的推薦&收藏</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("routeEditPage", "Member")">路線編輯</a></li>
                                    <li><a class="dropdown-item" href="/shopIndex/myorder">我的訂單</a></li>
                                </ul>
                            </li>
                            <li class="nav-item px-lg-4 px-0">
                                <a class="nav-link" href="/Home/chatroom">聊天室</a>
                            </li>
                        }
                    </ul>

                    @if (Session["id"] != null)
                    {
                        <a href="/shopIndex/shoppingCar"><img src="~/Images/winni/cart.png" style="height:42px;"></img></a>
                    }&emsp;&emsp;

                    <div id="divLoginAndLogout">
                        @if (Session["id"] == null)
                        {
                            <button id="LoginForModal" class="btn btn-primary px-4 me-3" data-bs-toggle="modal" data-bs-target="#loginModal">登入</button>
                            <button id="RegisterForMal" class="btn btn-outline-secondary px-4 me-3" data-bs-toggle="modal" data-bs-target="#registerModal">註冊</button>
                        }
                        else
                        {
                            @*<button id="Logout" class="btn btn-outline-secondary px-4 me-3">登出</button>*@
                            <a href="@Url.Action("Logout","Member")" id="Logout" class="btn btn-outline-secondary px-4 me-3">登出</a>
                        }

                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-wrapper">
        <div style="height: 100px"></div>
        @RenderBody()
    </div>

    <!-- login form -->
    @using (Html.BeginForm("Login", "Member"))
    {
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
            <!--aria-hidden="true" 在f12會看不到整個的modal dialog屬性-->
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-lightBlue">
                        <h5 class="modal-title fw-bold font-24" id="loginModalLabel">登入</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="account" class="form-label">帳號</label>
                            <input type="text" name="account" id="account" class="form-control" />
                        </div>
                        <div class="mb-1">
                            <label for="password" class="form-label">密碼</label>
                            <input type="password" name="password" id="password" class="form-control" />
                        </div>
                        <a href="https://phoebe4561.github.io/bick-web/homepage.html#" class="font-14 text-lightBrown">忘記密碼？</a>
                    </div>
                    <div class="modal-footer border-0">
                        <button type="submit" id="btnLogin" class="btn btn-primary w-100 fw-bold">登入</button>

                    </div>
                    <div id="divLogin" class="position-relative d-flex justify-content-center my-4 p-1">

                    </div>
                </div>
            </div>
        </div>
    }
    <!-- Register form -->
    @using (Html.BeginForm("Register", "Member"))
    {
        <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-lightBlue">
                        <h5 class="modal-title fw-bold font-24" id="registModalLabel">註冊</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="name" class="form-label">姓名</label>
                            <input type="text" name="Name" id="myName" placeholder="請輸入姓名" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label for="account" class="form-label">信箱</label>
                            <input type="text" name="account" id="myAccount" placeholder="請輸入信箱，信箱即為您的帳號" class="form-control" />
                        </div>
                        <div class="mb-1">
                            <label for="password" class="form-label">密碼</label>
                            <input type="password" name="password" id="myPassword" placeholder="請輸入密碼" class="form-control" />
                        </div>

                        <div class="mb-1">
                            <label for="birth" class="form-label">生日</label>
                            <input type="date" name="date" id="myBirthday" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer border-0">
                        <button type="submit" id="btnRegister" class="btn btn-primary w-100 fw-bold">註冊</button>
                    </div>
                    <div class="mb-1" id="divResgister">

                    </div>
                </div>
            </div>
        </div>
    }

    <footer class="container-fluid text-center py-4 bg-darkBrown text-white">Copyright © 高雄鐵馬行 All rights reserved.</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
            crossorigin="anonymous"></script>
    <!--<script src="~/Scripts/vendor/js/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/vendor/js/bootstrap/js/bootstrap.bundle.min.js"></script>-->
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
    <script>
    //非同步註冊
        $("#btnRegister").click(function () {
            var userRegister = {
                name:$("#myName").val(),
                email:$("#myAccount").val(),
                password: $("#myPassword").val(),
                birthday:$("#myBirthday").val()

            };
            $.ajax({
                url: '@Url.Action("Register","Member")',
                type: 'POST',
                data: JSON.stringify(userRegister),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.toString() == "ok") {
                        $('#divResgister').html('<div class="alert alert-success" style="width: 100%;" role="alert">註冊成功,請重新登入</div>');
                        setTimeout(function () { window.location.reload(); }, 1000);
                        //若註冊成功，提示使用者後重新整理回首頁
                    }
                    else if (result.toString() == "emaildobble") {
                        $("#divRegister").html('<div class="alert alert-warning" style="width: 100%; text-align:center;" role="alert">Email已經被註冊, 請換一個重新註冊!</div>');
                        setTimeout(function() { $('#divRegister').html(''); }, 3000);
                    }

                    else {
                        $("#divRegister").html('<div class="alert alert-danger" role="alert">註冊失敗，請再試一次！</div>');
                        setTimeout(function() { $('#divRegister').html(''); }, 3000);
                    }
                },
                error: function (result) {
                    $('#divRegister').html('<div class="alert alert-danger" role="alert">連線錯誤，請重開網頁再試一次</div>');
                    setTimeout(function () { $('#divRegister').html(''); }, 3000);
                }

            });
            return false;
        });

        //非同步登入
        $("#btnLogin").click(function () {
            var userLogin = { email: $('#account').val(), password: $('#password').val() };
            $.ajax({
                url: "@Url.Action("Login","Member")",
                type: 'POST',
                data: JSON.stringify(userLogin),
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (result) {
                    if (result.toString() == "pass") {
                        $('#divLogin').html('<div class="alert alert-success" style="width: 100%;" role="alert">登入成功</div >');
                        setTimeout(function () { window.location.reload(); }, 1000);
                    }
                    else {
                        $('#account').val("");
                        $('#password').val("");
                        $('#account').focus();
                        $('#divLogin').html('<div class= "alert alert-danger mt-1" role = "alert">帳號或密碼錯誤，請再試一次</div >');
                        setTimeout(function () { $('#msglogin').html(''); }, 2000);
                    }
                },
                error: function (result) {
                    $('divLogin').html('<div class= "alert alert-danger" role = "alert">連線錯誤，請重開網頁再試一次</div>');
                }
            });
            return false;
        });
    //登出
    $("#Logout").click(function () {
        $("#divLoginAndLogout").html('<div class="alert alert-success" style="width: 100%;" role="alert">登出成功</div >');
        setTimeout(function () { window.location.reload(); }, 1000);
    });



    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/scrollreveal"></script>

    <script src="~/Scripts/vendor/js/jquery-3.4.1.js"></script>
    <script src="~/Scripts/js/privateRoute.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>

</html>
