
@model bike_web.ViewModels.offRouteViewModel

@{
    ViewBag.Title = "List";
}


<div id="app">
    <!-- 路線介紹 -->
    @foreach (var item in Model.offcialAllRoute)
    {
        if (@item.od_official_data_catalog == "banner")
        {
    <div class="routeTitle bg-primary row align-items-center pt-3 pb-2 px-4">
        <div class="col-md-6">
            <h1>
                @item.h_name
            </h1>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <span>
                <a href="#" class="btn btn-light mx-3">@item.h_rank</a>
                <a class="btn font-16 btn-outline-secondary" href="#">#爬坡</a>
                <a class="btn font-16 btn-outline-secondary" href="#">#溪流</a>
                <a class="btn font-16 btn-outline-secondary" href="#">#大自然</a>
            </span>
        </div>
        <!-- hashtag -->
    </div>
        }
    }
            <div class="container-fluid">
                <div class="row py-2">
                    @foreach (var item in Model.offcialAllRoute)
                    {
                        if (@item.od_official_data_catalog == "banner")
                        {
                            <div class="col-12 col-md-6">
                                <h3 class="font-24 ps-3 border-start border-4 border-primary fw-bold my-4">路線介紹</h3>
                                <p>
                                    @item.h_description
                                </p>
                                <h3 class="font-24 ps-3 border-start border-4 border-primary fw-bold my-4">交通資訊</h3>
                                <p>@item.od_official_data_img_content</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="~/Images/home/@item.h_img" alt="@item.h_name" class="img-fluid" />
                            </div>
                        }
                    }
                </div>
            </div>
            <!-- 路線地圖 -->
            <div class="container-fluid bg-lighter py-2">
                <h5 class="font-24 ps-3 border-start border-4 border-primary fw-bold my-4 mb-3">路線地圖</h5>
                <hr />
                <!-- map -->
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group mb-2">
                            <input placeholder="輸入景點名稱" type="text" class="form-control" ref="site" v-model="site" />
                        </div>
                        <div id="map" class="ratio ratio-16x9"></div>
                        <div class="row my-2">
                            <div class="spotTag my-2 font-24">
                                <span><img src="~/Images/mapicon/Ubike03.png" alt="routeicon" width="35" height="40" /></span> 騎車路線:
                            </div>
                            <div class="spotGroup">
                                <button type="button" class="btn btn-outline-secondary mx-1 my-2" v-for="f in features" @@click="openInfoWindows(f.properties.id)">{{ f.properties.name }}</button>
                            </div>
                        </div>
                        <div class="row my-2 font-24">
                            <div class="spotTag my-2"><img src="~/Images/mapicon/food.png" alt="foodicon" width="35" height="40" />鄰近美食:</div>
                            <div class="spotGroup">
                                <button type="button" class="btn btn-outline-secondary mx-1 my-2" v-for="f in foods" @@click="openInfoWindows(f.properties.id)">{{ f.properties.name }}</button>
                            </div>
                        </div>

                        <!-- 放評論摘要的div -->
                        <!--<div class="row" v-if="place != null">
                            <div class="col" v-if="place.reviews != null">
                                <div class="font-24 my-2">網友評論：</div>
                                <div class="row" v-for="p in place.reviews">
                                    <div class="col">
                                        <ul class="list-unstyled">
                                            <li class="media d-flex align-items-center">
                                                <img :src="p.profile_photo_url" class="img-fluid mr-3" />
                                                <div class="media-body ms-3">
                                                    <h5 class="mt-0 mb-1">
                                                        <a target="_blank" :href="p.author_url">{{ p.author_name }}</a>
                                                    </h5>
                                                    <p>{{ p.text }}</p>
                                                    <h6>{{ p.relative_time_description }}</h6>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <!-- 右邊路線評論  -->
                    <div class="col-md-3 py-md-0 py-3">
                        <div class="card">
                            <h5 class="text-center bg-light rounded-1 border-start border-end border-4 border-primary py-2 fw-bold tracking-3">路線相關評價</h5>
                            <div class="card-body">
                                <h6 class="card-title">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <strong>陳小鐵</strong>
                                            <img src="images/start.jpg" style="width: 25px" /><img src="images/start.jpg" style="width: 25px" /><img src="images/start.jpg" style="width: 25px" />
                                        </div>
                                        <div>2021/10/01</div>
                                    </div>
                                </h6>
                                <p class="card-text font-12">沿途風景很美，有很多拍照打卡的景點，超推薦!!</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 放評論摘要的div -->
                <div class="row" v-if="place != null">
                    <div class="col" v-if="place.reviews != null">
                        <div class="commentContainer p-3">
                            <div class="font-24 text-center my-2">網友評論：</div>
                            <div class="row" v-for="p in place.reviews">
                                <div class="col">
                                    <ul class="list-unstyled">
                                        <li class="media d-flex align-items-center">
                                            <img :src="p.profile_photo_url" class="img-fluid mr-3" />
                                            <div class="media-body ms-3">
                                                <h5 class="mt-0 mb-1">
                                                    <a target="_blank" :href="p.author_url">{{ p.author_name }}</a>
                                                </h5>
                                                <p>{{ p.text }}</p>
                                                <h6>{{ p.relative_time_description }}</h6>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 評價留言 -->
                <form class="py-3">
                    <h5 class="text-center bg-light rounded-1 border-start border-end border-4 border-primary py-2 fw-bold tracking-3">我的評價</h5>
                    <div class="card-body">
                        <!-- 暱稱直接抓資料庫註冊的名字(信箱)即可 -->
                        <div class="row">
                            <div class="col-6 my-2">
                                <input type="date" class="form-control" id="exampleFormControlInput1" />
                            </div>
                            <div class="col-6">
                                <span id="star1" class="font-32 s">☆</span>
                                <span id="star2" class="font-32 s">☆</span>
                                <span id="star3" class="font-32 s">☆</span>
                                <span id="star4" class="font-32 s">☆</span>
                                <span id="star5" class="font-32 s">☆</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="my-2">
                                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="內容" rows="3"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">送出</button>
                    </div>
                </form>
            </div>
            <!-- middle navbar -->
            <div class="container-fluid border-bottom border-1 border-gray-300">
                <div class="container">
                    <ul class="nav nav-tabs justify-content-between justify-content-lg-start" id="nav-tab" role="tablist">
                        <li class="nav-item">
                            <button class="nav-link active py-3"
                                    id="nav-intro-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#nav-intro"
                                    type="button"
                                    role="tab"
                                    aria-controls="nav-intro"
                                    aria-selected="true">
                                景點
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link py-3"
                                    id="nav-food-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#nav-food"
                                    type="button"
                                    role="tab"
                                    aria-controls="nav-food"
                                    aria-selected="false">
                                美食
                            </button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link py-3"
                                    id="nav-supply-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#nav-supply"
                                    type="button"
                                    role="tab"
                                    aria-controls="nav-supply"
                                    aria-selected="false">
                                補給站
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link py-3"
                                    id="nav-fix-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#nav-fix"
                                    type="button"
                                    role="tab"
                                    aria-controls="nav-fix"
                                    aria-selected="false">
                                維修站
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- main content -->
            <div class="container py-2">
                <div class="row">
                    <div class="tab-content" id="myTabContent">
                        <!-- 官方景點介紹 -->
                        <div class="tab-pane fade show active" id="nav-intro" role="tabpanel" aria-labelledby="nav-intro-tab">
                            <h3 class="font-24 ps-3 border-start border-4 border-primary fw-bold my-4">景點</h3>
                            <div class="row">
                                @foreach (var item in Model.offcialAllRoute)
                                {
                                    if (@item.od_official_data_catalog == "point")
                                    {
                                        <div class="col-12 col-md-6">
                                            <div class="card mb-3">
                                                <a name="anchor景點1"></a>
                                                <img src="~/Images/offRoute/@item.h_ID/@item.od_official_data_img" class="card-img-top img-fluid" alt="@item.od_official_data_img_info" />
                                                <div class="card-body">
                                                    <h5 class="card-title fw-bold text-center font-32 my-3 border-bottom border-1 border-primary pb-3">@item.od_official_data_img_info</h5>
                                                    <div class="d-flex justify-content-between pb-2 mb-2 flex-lg-row flex-md-column">
                                                        <div class="badge bg-light font-20 text-darkBrown px-3">
                                                            <!-- 評分星星 -->
                                                            <img src="image_mia/star.png" height="22px" /><img src="image_mia/star.png" height="22px" /><img src="image_mia/star.png" height="22px" /><img src="image_mia/star.png"
                                                                                                                                                                                                           height="22px" />
                                                        </div>
                                                        <div class="badge bg-darkBrown font-18 px-2 align-self-center"><span class="text-primary">5分鐘路程</span></div>
                                                    </div>
                                                    <p class="card-text">@item.od_official_data_img_content</p>                                                   
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <!-- 官方美食介紹 -->
                        <div class="tab-pane fade show" id="nav-food" role="tabpanel" aria-labelledby="nav-food-tab">
                            <h3 class="font-24 ps-3 border-start border-4 border-primary fw-bold my-4">美食</h3>
                            <div class="row">
                                @foreach (var item in Model.offcialAllRoute)
                                {
                                    if (@item.od_official_data_catalog == "food")
                                    {
                                        <div class="col-12 col-md-6">
                                            <div class="card mb-3">
                                                <a name="anchor美食1"></a>
                                                <img src="~/Images/offRoute/@item.h_ID/@item.od_official_data_img" class="card-img-top img-fluid" alt="@item.od_official_data_img_info" />
                                                <div class="card-body">
                                                    <h5 class="card-title fw-bold text-center font-32 my-3 border-bottom border-1 border-primary pb-3">@item.od_official_data_img_info</h5>
                                                    <div class="d-flex justify-content-between pb-2 mb-2 flex-lg-row flex-md-column">
                                                        <div class="badge bg-light font-20 text-darkBrown px-3">
                                                            <!-- 評分星星 -->
                                                            <img src="image_mia/star.png" height="22px" /><img src="image_mia/star.png" height="22px" /><img src="image_mia/star.png" height="22px" /><img src="image_mia/star.png"
                                                                                                                                                                                                           height="22px" />
                                                        </div>
                                                        <div class="badge bg-darkBrown font-18 px-2 align-self-center">推薦:<span class="text-primary">大腸包小腸</span></div>
                                                    </div>
                                                    <p class="card-text">@item.od_official_data_img_content</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <!-- 補給站 -->
                        <div class="tab-pane fade show" id="nav-supply" role="tabpanel" aria-labelledby="nav-supply-tab">
                            @foreach (var item in Model.offcialAllRoute)
                            {
                                if (@item.od_official_data_catalog == "supply")
                                {
                                    string[] helperSplit = @item.od_official_data_img_content.Split('*');
                                    <div class="card overflow-hidden mb-3">
                                        <div class="row g-0">
                                            <div class="col-5 col-md-4">
                                                <img class="w-100 h-100 object-fit: cover" src="~/Images/offRoute/@item.h_ID/@item.od_official_data_img" alt="@item.od_official_data_img_info" />
                                            </div>
                                            <div class="col-7 col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title fw-bold">@item.od_official_data_img_info</h5>

                                                    @foreach (string split in helperSplit)
                                                    {<p class="card-text mb-2 font-14 text-lightBrown">@split</p>}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <!-- 維修站 -->
                        <div class="tab-pane fade show" id="nav-fix" role="tabpanel" aria-labelledby="nav-fix-tab">
                            @foreach (var item in Model.offcialAllRoute)
                            {
                                if (@item.od_official_data_catalog == "helper")
                                {
                                    <div class="accordion mb-3" id="@item.od_offRouteID">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="heading-@item.od_offRouteID">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@item.od_offRouteID" aria-expanded="true" aria-controls="collapse-@item.od_offRouteID">
                                                    <span>維修車站: @item.od_official_data_img_info</span>
                                                    <span></span>
                                                </button>
                                            </h2>
                                            <div id="collapse-@item.od_offRouteID" class="accordion-collapse collapse show" aria-labelledby="heading-@item.od_offRouteID" data-bs-parent="#@item.od_offRouteID">
                                                <div class="accordion-body">@item.od_official_data_img_content</div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>

<!-- google map API_KEY -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUX6kQOm-gu6o6Gl48_pkCuWkPfOeVjKw&libraries=places"></script>
<script src="https://unpkg.com/vue@next"></script>

<script>
    const app = Vue.createApp({       
        data(){
            return{
              map: null,
              features: [], // 存入每一個地點
              foods: [], // 存入每一個食物
              infowindowAll: {}, // 存入每一個marker上的info windows
              location: { lat: 22.899016535135793, lng: 120.5370653 }, // 預設顯示的地點
              polylinePathPoints: [], //路線連線
              autocomplete: null,
              site: '', // place API要綁定的搜尋框
              place: null, // 存place確定後回傳的資料
            }
        },
          methods: {
          // init google map
          initMap() {

            // 建立地圖
            this.map = new google.maps.Map(document.getElementById('map'), {
              center: this.location,
              zoom: 14,
              mapTypeId: 'terrain',
            });

            // 放置多個marker
                const url = location.href.split("/");
                const localhost = url[2];
                const id = url[url.length - 1];

                fetch(`https://${localhost}/maps/map_${id}.json `)
              .then((results) => results.json())
              .then((result) => {
                this.features = result.features;
                this.foods = result.foods;

                  //重新設置中心點
                  this.map.setCenter({
                      lat: this.features[1].geometry.coordinates[0],
                      lng: this.features[1].geometry.coordinates[1],
                  });

                  Array.prototype.forEach.call(this.features, (r) => {
                      //建立路線
                      let polylineRoute = {
                          lat: r.geometry.coordinates[0],
                          lng: r.geometry.coordinates[1],
                      };
                      this.polylinePathPoints.push(polylineRoute);
                      let polylinePath = new google.maps.Polyline({
                          path: this.polylinePathPoints,
                          geodesic: true,
                          strokeColor: "#eb9371",
                          strokeOpacity: 0.8,
                          strokeWeight: 10,
                          editable: false,
                          geodesic: false,
                          draggable: false,
                      });
                      polylinePath.setMap(this.map);

                      //建立Marker
                      let latLng = new google.maps.LatLng(
                          r.geometry.coordinates[0],
                          r.geometry.coordinates[1]
                      );
                      let marker = new google.maps.Marker({
                          position: latLng,
                          icon: `https://${localhost}/Images/mapicon/Ubike03.png`,
                          map: this.map,
                          animation: google.maps.Animation.DROP, // DROP掉下來、BOUNCE一直彈跳
                          draggable: false,
                      });

                  // info window
                  let infowindow = new google.maps.InfoWindow({
                      content: `
                    <div class="infoContainer p-2">
                        <h6 class="text-center">${r.properties.name}</h6>
                        <a href="https://www.google.com.tw/maps/place/${r.properties.site}"
                        target="_blank"
                        title="Google Map"
                        ><i class="bi bi-house-fill mr-2"></i>${r.properties.site}</a>
                    <div>`,
                  });

                  // 監聽 marker click 事件
                  marker.addListener('click', (e) => {
                    infowindow.open(this.map, marker);
                  });

                  // 加一個open的method，就可由外部按鈕開啟
                  this.infowindowAll[r.properties.id] = {
                    open: function () {
                      infowindow.open(this.map, marker);
                    },
                  };
                  });

                 // 放置美食marker
                Array.prototype.forEach.call(this.foods, (r) => {
                  let latLng1 = new google.maps.LatLng(r.geometry.coordinates[0], r.geometry.coordinates[1]);
                  let marker1 = new google.maps.Marker({
                    position: latLng1,
                    icon: `https://${localhost}/Images/mapicon/food.png`,
                    map: this.map,
                    animation: google.maps.Animation.DROP, // DROP掉下來、BOUNCE一直彈跳
                    draggable: false,
                  });

                  // info window
                  let infowindow1 = new google.maps.InfoWindow({
                      content: `
                      <div class="infoContainer p-2">
                        <h6 class="text-center">${r.properties.name}</h6>
                        <a href="https://www.google.com.tw/maps/place/${r.properties.site}"
                          target="_blank"
                          title="Google Map"
                        ><i class="bi bi-house-fill mr-2"></i>${r.properties.site}</a>
                        <div class="mt-1"><a href="tel:${r.properties.phone}"><i class="bi bi-telephone-forward mr-2"></i>${r.properties.phone}</a></div>
                      <div>`,
                  });

                  // 監聽 marker click 事件
                  marker1.addListener('click', (e) => {
                    infowindow1.open(this.map, marker1);
                  });

                  // 加一個open的method，就可由外部按鈕開啟
                  this.infowindowAll[r.properties.id] = {
                    open: function () {
                      infowindow1.open(this.map, marker1);
                    },
                  };
                });
              });
          },

          // 由外部按鈕開啟info windows
          openInfoWindows(id) {
            this.infowindowAll[id].open();
          },
          siteAuto() {

            let options = {
              componentRestrictions: { country: 'tw' }, // 限制在台灣範圍
            };
            this.autocomplete = new google.maps.places.Autocomplete(this.$refs.site, options);
            this.autocomplete.addListener('place_changed', () => {
              this.place = this.autocomplete.getPlace();
                @*console.log(this.place);*@

              if (this.place.geometry) {
                let searchCenter = this.place.geometry.location;
                this.map.panTo(searchCenter); // panTo是平滑移動、setCenter是直接改變地圖中心

                // 放置標記
                let search_marker = new google.maps.Marker({
                  position: searchCenter,
                  map: this.map,

                });

                // info window
                let search_infowindow = new google.maps.InfoWindow({
                    content: `
                    <div class="infoContainer d-flex justify-content-center">
                      <div class="infoContent p-2 my-1 text-center">
                      <div class="row justify-content-between mx-0">
                      <h6 class="text-center fs-24">${this.place.name}</h6>
                      <a href="${this.place.website}"
                              target="_blank"
                              title="Google Map"
                            >${this.place.website ? `<i class="bi bi-globe"></i>官網` : '無官網'}</a>
                      </div>
                      <a href="${this.place.url}"
                              target="_blank"
                              title="Google Map"
                            ><i class="bi bi-house-fill"></i>${this.place.formatted_address}</a>
                      <ul class="list-unstyled pt-0 mb-0 py-1 mt-2 bg-light rounded">
                        <span><i class="bi bi-shop"></i>營業時間</span>
                        <li>週一:${this.place.opening_hours ? `${this.place.opening_hours.weekday_text[0].slice(-13)}` : '無提供'}</li>
                        <li>週二:${this.place.opening_hours ? `${this.place.opening_hours.weekday_text[1].slice(-13)}` : '無提供'}</li>
                        <li>週三:${this.place.opening_hours ? `${this.place.opening_hours.weekday_text[2].slice(-13)}` : '無提供'}</li>
                        <li>週四:${this.place.opening_hours ? `${this.place.opening_hours.weekday_text[3].slice(-13)}` : '無提供'}</li>
                        <li>週五:${this.place.opening_hours ? `${this.place.opening_hours.weekday_text[4].slice(-13)}` : '無提供'}</li>
                        <li>週六:${this.place.opening_hours ? `${this.place.opening_hours.weekday_text[5].slice(-13)}` : '無提供'}</li>
                        <li>週日:${this.place.opening_hours ? `${this.place.opening_hours.weekday_text[6].slice(-13)}` : '無提供'}</li>
                       </ul>
                      </div>
                  </div>
                    `,
                });
                  search_infowindow.open(this.map, search_marker);
                  this.site = '';
              }
            });
          },
        },
        created() {
          window.addEventListener('load', () => {
            this.initMap();
            this.siteAuto();
          });
        },
    });
    app.mount("#app");
</script>