
@model bike_web.ViewModels.offRouteViewModel
@{
    ViewBag.Title = "初級List";
}

<div id="app">
    <!-- ======= 進階篩選 ======= -->
    <div class="sidenav" :class="{ toggle: isToggle === true }">
        <a href="#" class="closebtn" @@click.prevent="isToggle = !isToggle">
            <i class="fa fa-angle-left fa-2"></i>
        </a>
        <div class="d-flex flex-column align-items-center mt-5">
            @using (Html.BeginForm("初級List", "offRoute", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <!-- ======= 關鍵字 ======= -->
                <div class="form-group mb-3">
                    <label class="col-form-label font-24"><span class="pe-2"><i class="fas fa-suitcase-rolling"></i></span>景點搜尋</label>
                    <div class="form-group input-group" style="width: 250px">
                        <input type="text" class="form-control" name="searchKeyword" placeholder="請輸入關鍵字" />
                    </div>
                </div>
                <!-- ======= 等級 ======= -->
                <div class="form-group mb-3">
                    <label class="col-form-label font-24"><span class="pe-2"><i class="fas fa-chart-line"></i></span>難度搜尋</label>
                    <div class="input-group" style="width: 250px">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelectLevel">等級</label>
                        </div>
                        <select class="custom-select searchRank" name="searchRank">
                            <option value="nolevel" selected>等級分類</option>
                            <option value="初級">初級路線</option>
                            <option value="中級">中級路線</option>
                            <option value="高級">高級路線</option>
                        </select>
                    </div>
                </div>
                <!-- ======= 長度 ======= -->
                <div class="form-group mb-3">
                    <label class="col-form-label font-24"><span class="pe-2"><i class="fas fa-road"></i></span>距離搜尋</label>
                    <div class="input-group" style="width: 250px">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelectDistance">長度</label>
                        </div>
                        <select class="custom-select" name="searchDistance">
                            <option value="nodistance" selected>長度分類</option>
                            <option value="2">小於10km</option>
                            <option value="3">10-20km</option>
                            <option value="4">大於20km</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <button type="submit" class="btn btn-primary me-3 searchBtn">開始搜尋</button>
                    <button type="reset" class="btn btn-outline-secondary">重置欄位</button>
                </div>
            }
        </div>
    </div>

    <div class="container pt-4">
        <div class="row">
            @foreach (var item in Model.offcialAllRoute)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="portfolio-item card mb-3">
                        <span>
                            <a href="./officialSingleRoute.html"><img src="~/images/home/@item.h_img" class="card-img-top portfolio-img" alt="@item.h_name" /></a>
                            <div class="portfolio-info">
                                <h3>@item.h_name</h3>
                            </div>
                        </span>
                        <div class="card-body">
                            <div class="position-absolute" style="top: 20px; right: 20px">
                                <button type="button" class="btn btn-outline-danger rounded-pill heartbtn">
                                    <i class="bi bi-heart fs-5"></i>
                                </button>
                            </div>
                            <h5 class="border-bottom border-3 border-primary"></h5>
                            <div class="d-flex justify-content-between pb-2 mb-2 flex-lg-row flex-md-column">
                                <div class="badge bg-light font-20 text-darkBrown px-3">長度:@item.h_distance km</div>
                                <div class="badge bg-darkBrown font-20 px-3">難度:<span class="text-primary font-20">@item.h_rank</span></div>
                            </div>
                            <p class="card-text">@item.h_description</p>
                            <div class="d-flex justify-content-between">
                                <div><i class="bi bi-eye fs-4"></i><span class="ms-2">0</span></div>
                                <div class="text-primary"><i class="bi bi-star-fill fs-4"></i><span class="ms-2">@item.oc_allStar</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script type="module">
    const app = Vue.createApp({
        data() {
            return {
                isToggle: false,
            };
        },
        methods: {       
        },
        mounted() {
            this.isToggle = true;
        },
    });
    app.mount('#app');
</script>